Assignment 12

Q1. What is a databases? Differentiate between SQL and NOSQL databases.

Ans: A database is an organized collection of data stored and accessed electronically.
1. SQL is a Relational database management system. Whereas, NOSQL is Non-relational or distributed database system.
2. These databases have static or predefined schema. Whereas, NOSQL databases have a dynamic schema.
3. SQL databases are not suited for hierarchical data storage. Whereas, NOSQL databases are best suited for hierarchical    data storage.
4. SQL databases are best suited for complex queries Vertically Scalable. Whereas, NOSQL databases are not so good for
   complex queries Horizontally Scalable.

Q2. What is DDL? Explain why CREATE,DROP,ALTER,and TRUNCATE are used with an example.

Ans: DDL or data definition language actually consists of the SQL commands that can be used to define the database            schema.
     CREATE: This command is used to create the database or its objects (like table, index,function, views, store,
             procedure, and triggers).
             For example:
             Let us create a database test:
             CREATE DATABASE test;
     DROP: This command is used to delete objects from the database.
           For example:
           To delete  the database test:
           DROP DATABASE test;
     ALTER: This command is used to alter the structure of the database.
            For example:
            To alter table add column:
            ALTER TABLE students;
            ADD email varchar(255);
     TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are                      removed.
               For example:
               To truncate the student table from the student_data database:
               TRUNCATE TABLE student;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: DML or data manipulation language consists of SQL commands that deal with the manipulating of data present in the 
     database.
     INSERT: It is used to insert data in to a table.
             For example:
             Suppose there is a Student database and we want to add values:
             INSERT INTO Student VALUES
             ('5','HARSH','WEST BENGAL','XXXXXX','19');
     UPDATE: It is used to update existing data within a table.
             For example:
             Let us update the column NAME and set the values to 'Nitin' in the rows where the age is 22:
             UPDATE Customer SET NAME='Nitin' WHERE Age=22;
     DELETE: It is used to delete records from a database table.
             For example:
             Delete the rows where NAME='Rithvik':
             DELETE FROM student WHERE NAME='Rithvik';

Q4. What is DQL? Explain SELECT with an example.

Ans: DQL or data query language statements are used to performing queries on the data within schema objects.
     SELECT: Select command is used to fetch the data in a set of records from a table, view or a group of tables, views
             or a group of tables, views by making use of SQL joins. Retrieval of data using SQL statements can be done                by using different predicates like -
             1. Where
             2. Group by
             3. Having
             4. Order by
             For example:
             Suppose a user wants to retrieve all the data records of a table, can be performed by using '*'.
             First let's create a table and insert data in to table before retrieving the data using select command.Then,
             write the command, where Customer is the name of the table.
             SELECT * FROM Customer;

Q5. Explain Primary Key and Foreign Key.

Ans: A Primary Key is a single column/field in a table that uniquely identifies each record in a database table. It is
     the most appropriate candidate key to be the main key of any table.
     A table can have only one Primary Key, which may consist of single or multiple fields.
     Let us say, We are developing an application called University Management System to handle all the data within an
     organization. When designing the architecture for the database table for students or faculty, where we can make the
     student_id or faculty_id column/field a Primary Key, so it prevents we from assigning the same id to multiple            students/faculties.
     Foreign Key is a column (or combination of columns) in a table whose values match the values of a Primary Key column
     in another table. Using the Foreign Key, we can link two tables together.
     In addition to linking the tables, the Foreign Key constraint ensures referential integrity by preventing changes to
     data in the primary key table from invalidating the link to data in the foreign key table. i.e, a Foreign Key            prevents operations, like "dropping the table", that would eliminate the connection between two tables.
     Suppose we have two tables namely, std_add and std_marks such that std_add contains the column/attributes Roll_no,
     Name, Age, Address, and Pin. std_marks contains the columns Roll_no,Subject,Marks, and Date.
     Then, the column Roll_no of the std_add table is the primary key, whereas, the column Roll_no of the std_marks is a
     Foreign Key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
Ans: 
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

2nd part:
cursor() method is used to execute statements to communicate with the MySQL database. We can create a cursor object using
cursor() method of the connection object.
To perform the same query in python, we must create an instance of the cursor() object. From the cursor object, we can
SQL commands as a string to the execute() method, which will execute the code.

In [ ]:
#consider an example:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()              #Create a cursor object using cursor() method.
mycursor.execute("SHOW DATABASES")     #"SHOW DATABASES" passes as string argument in execute() method, this execute the code.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: 1. FROM/JOIN
     2. WHERE
     3. GROUP BY
     4. HAVING
     5. SELECT
     6. ORDER BY
     7. LIMIT/OFFSET